{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "quotes": ["error", "double"],
    "comma-dangle": ["error", "only-multiline"],
    "function-paren-newline": ["warn", "multiline"],
    "no-unused-vars": "warn"
  }
}
